body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}

.button {
    display: block;
    width: 100%;
    background: linear-gradient(45deg, #ececec, #dddddd, #bebebe);
    color: rgb(255, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.01s;
    font-weight: bold;
}

.button:hover {
    font-weight: bold;
    color: rgb(68, 0, 255);
    background-color: #59ff43;
}

.button:active {
    background-color: #9333ea;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a { text-decoration: none; color: inherit; transition: color 0.3s; }
a:active { color: #9333ea; }

.rainbow-text {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

p {
    color: #6b7280;
    margin-bottom: 16px;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 12px;
}
h3{
    background: linear-gradient(45deg, #5d88ff, #d9b0ff, #c0d4ff);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

